---
import Layout from '../layouts/Layout.astro';
import Promo from '../components/Promo.astro';
import Featured from '../components/Featured.astro';
import Categories from '../components/Categories.astro';
---

<Layout
title="1bit Store - Inicio"
description=""
>
	<main>
		<Promo />
		<Featured />
		<Categories />
	</main>
</Layout>

<style>
	
</style>