---
import SectionContainer from "./SectionContainer.astro"

const fotos = [

]
---

<SectionContainer>
    <div class="w-full h-[30rem] rounded-xl bg-slate-300">
        
    </div>
</SectionContainer>